# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Carpetas de editores de código
.vscode/
.idea/

# Carpetas de dependencias (por si usas Node.js más adelante)
node_modules/

# Archivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*